*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: rgb(215, 215, 215);
}

/* modificar el header */
header{
background-color: white;
width: 100%;
height: 12.5vh;
margin-top: -1.5vh;
position:fixed;
display: flex;
z-index: 999;
justify-content: center;
}
.navIcono {
    width: 80vh;
    height: 12.5vh;
    margin-left: auto;
}
.navIcono p{
    width:2%;
    color: rgb(238, 255, 0);
    font-weight: 600;
    margin-left: 90vh;
    text-align: center;
    text-shadow: 0px 0px 4px black;
}
.navIcono .carro{
    margin-left: 23.5vh;
    text-decoration: none;
}
.navIcono .categorias{
    margin-left: 37.5vh;
    margin-top: -4.5vh;
    text-decoration: none;
}
.navIcono img{
    width: calc(80vh / 5);
    height: 100%;
    margin:auto 5px;
    padding: 10px;
    background-color: aliceblue;
}
.navLogo .logo{
    width: 6.3VW;
    margin-left: 20px;
    
}
nav .cuenta{
    position: absolute;
    margin-top: -30px;
    margin-left: 40PX;
}
nav .carro{
    position: absolute;
    margin-top: -30px;
    margin-left: 190px;
}

/* modificar las redes sociales */
#Redes{
    height: 400px;
    width: 120px;
    z-index: 998;
    position: fixed;
    display: flex; 
    flex-direction: column;
    margin-top:69vh;
    margin-left: 94vw;
}
#Redes a img{
    background-color: black;
    width: 50px;
    height: 50px;
    margin-top: 2.5px;

    border-radius: 100px;
    
}
/* modificar el carrusel inicial */
.carousel-item{
    margin-top: 11vh;
    height: 80vh;
    width: 100%;
    image-rendering:optimizeSpeed;
}
.carousel-item img{margin: 0 auto;
width: 90vw;}
.carousel-inner{
    padding: 10px 10px;
    margin: 10px 0px;
}

/* Modificar las cartas de manga , comic */
#cartas{
    width: 100%;
    height: 60vh;
    display: flex;
}
#cartas .carta{
    width: 32vw;
    height: 55vh;
    padding: 10px;
    margin: 10px;
    background-repeat: no-repeat;
    background-size:cover;
}
#cartas .carta img{
    width: 30vw;
    height: 55vh;
    margin: 0 auto;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-size:cover;
    position:relative;
}

#cartas .carta .boton{
     background: rgba(255, 255, 255, 0.25);
     color:rgb(0, 0, 0);
     padding: 5px 11%;
     text-decoration: none;
     font-size: 30px;
     margin-left: 3vw;
     margin-top: 20vh;
     border: solid 2.5px black;
     border-radius: 50vw;
     transition: 0.5s;
     position: absolute;
}
#cartas .carta .boton:hover{
    cursor: pointer;
    border: solid 1px rgb(0, 0, 0);
    
}
#cartas .carta h1{
    text-align: center;
    margin: 10px;
    margin-top: -350px;
    font-size: 55px;
    color: rgb(238, 255, 0);
    z-index: 5;
    position: relative;
}
#cartas .carta .fondoh{
    position: absolute;
    bottom: -125px;
    width: 30vw;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    filter: blur(2px);
}

/* carta del producto  */
.apartadoComics{
display :left ;
}
.producto{
    width: 400px;
    height: 500px;
    background-color: aqua;
    padding: 10px;
    margin :30px;
    float: left;
    display: flex;
    flex-direction: column;
}
.producto .titulo{
    margin: 0 auto;
    font-size:x-large ;
    color: black;
}
.producto img{
    background-color: black;
    width: 80%;
    height: 500px;
    margin: 0 auto;
}
.producto .precio{
    margin: 0 auto;
    font-size: x-large;
    color: black;
}
.producto .autor{
    font-size: large;
    margin: 30px 70% -45px;
}
.producto .genero{
    font-size: large;
}
.producto .subgenero{
    font-size: large;
}
.producto .fecha{
    font-size:medium;
    margin: 0 78% -10px;
}




/* Footer */
footer{
    margin-top: 100vh;
    position: absolute;
    display: flex;
    height: 16vh;
}
.categorias{
    color: black;
    width: 49vw;
    height: 15vh;
    padding-left: 10px;
}
.RedesSociales{
    width: 49vw;
    height: 15vh;
    padding-left: 10px;

    color: black;
}
.RedesSociales img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.terminosLegales{
    width: 100%;
    margin-top: 16.5vh;
    padding-top: 10px;
    position: absolute;
    border-top: 1px black solid;
}
